<html>
	<head>
  	<meta http-equiv="refresh" content="15">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
				<table cellpadding="5" border="2">
				<tr><td>Host</td><td>OpenVPN</td><td>IPSec</td></tr>
				{{#servers}}
							<tr><td>{{name}}</td><td>{{status.openvpn}}</td><td>{{status.ipsec}}</td></tr>
				{{/servers}}
				</table>
	</body>
</html>